<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>VERY GOOD BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/stylee.css}" rel="stylesheet" />
    <link th:href="@{/css/pagginationButtons.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">

</head>
<body>
<nav th:insert="~{fragment/fragment.html :: nav}"></nav>
<header th:insert="~{fragment/fragment.html :: header}"></header>

<main>
    <div sec:authorize="isAnonymous()" style="color: whitesmoke; text-align: center;  font-size: 3em;" th:text="#{DoestExistA}">This page don't exists</div>
    <div sec:authorize="hasAuthority('USER')" style="color: whitesmoke; text-align: center;  font-size: 3em;" th:text="#{DoestExistU}">This page is only for admin</div>
    <h1 sec:authorize="hasAuthority('ADMIN')" style="color: whitesmoke;font-family: 'Caveat', cursive; font-size: 1.5em;" th:text="#{List}">Your recipe list</h1>
    <table sec:authorize="hasAuthority('ADMIN')" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th scope="col">#</th>
            <th th:text="#{Title}">Title</th>
            <th th:text="#{ShortD}">Short Description</th>
            <th th:text="#{Category}">Category</th>
            <th th:text="#{Actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe, i: *{recipesList}">
            <th scope="row" th:text="${recipesList.getPageable().getPageNumber() * recipesList.getPageable().getPageSize() + i.index + 1}"></th>
            <td th:text="${recipe.title}"></td>
            <td th:text="${recipe.shortDescription}"></td>
            <td th:text="${recipe.category}">
                <span class="badge badge-success rounded-pill d-inline" th:text="${recipe.category}"></span>
            </td>
            <td>
                <a class="btn btn-info" th:href="@{/mainPage/{id}(id=${recipe.id})}" th:text="#{View}">View</a>
                <a class="btn btn-info" th:href="@{/mainPage/recipes/delete/{id}(id=${recipe.id})}" th:text="#{Delete}">Delete</a>
                <a th:href="@{/mainPage/recipes/showUpdateForm(id=${recipe.id})}" class="btn btn-info" th:text="#{Edit}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav sec:authorize="hasAuthority('ADMIN')" class="all-pagination-divs">
    <div th:if="${recipesList.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/mainPage/recipes(size=${recipesList.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           th:class="${pageNumber==recipesList.number} ? active"></a>
    </div>
    </nav>

    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/mainPage/form}" style="color: whitesmoke;font-family: 'Caveat', cursive; font-size: 1.5em;" th:text="#{AddNew}">Add new recipe</a>
</main>

<footer th:insert="~{fragment/fragment.html :: footer}"> </footer>
</body>
</html>
