<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VERY GOOD BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/stylee.css}" rel="stylesheet" />
    <link th:href="@{/recipeStyle.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<nav th:insert="fragment/fragment.html :: nav"></nav>
<header th:insert="fragment/fragment.html :: header"></header>

<main>

    <div><img th:if="${recip.image != null}" th:src="@{'data:image/jpeg;base64,'+${recip.image}}" alt="Recipe Image"/></div>
    <h3 th:text="${recip.title}"></h3>
    <hr class="line">
    <p class="short-description"><i th:text="${recip.shortDescription}"></i></p>
    <hr class="line">
    <h4>Ingredients </h4>
    <p class="ingriedients" th:text="${recip.ingriedients}"></p>
    <h4>Recipe</h4>
    <p class="text" th:text="${recip.recipeText}"></p>

    <hr class="line">
    <hr class="line">
    <h4>Comments</h4>

    <div class = "comments-div" th:each="comment : ${recip.comments}">
        <section th:text="${#temporals.format(comment.dateTime, 'yyyy-MM-dd HH:mm:ss')}"></section>
        <section th:text="${comment.text}"></section>
        <a class="btn btn-secondary" th:href="@{/mainPage/recipes/deleteComment/{id}(id=${comment.id})}">delete</a>
<!--        <a th:href="@{/mainPage/recipes/showUpdateForm(id=${recipe.id})}" class="btn btn-info">Edit</a>-->
    </div>

    <hr class="line">
    <hr class="line">

    <form th:action="@{/mainPage/__${id}__}" th:object="${comment}" method="post">
        <p>
            <label>You can write your comment here:
                <input type="hidden" th:field="*{id}" id="id">
                <input type="text" th:field="*{text}" />
            </label>
        </p>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>

</main>

<footer th:insert="fragment/fragment.html :: footer"> </footer>
</body>
</html>
