<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VERY GOOD BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/stylee.css}" rel="stylesheet" />
    <link th:href="@{/recipeStyle.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<nav th:insert="~{fragment/fragment.html :: nav}"></nav>
<header th:insert="~{fragment/fragment.html :: header}"></header>

<main>

    <hr class="line">
    <hr class="line">
    <form th:action="@{/mainPage/recipes/saveComment}" th:object="${employee}" method="post">
        <p>
            <label>You can write your comment here:
                <input type="hidden" th:field="*{id}" id="id">
                <input type="text" th:field="*{text}" />
                <input type="hidden" th:field="*{recipe.id}" id="recipe">
                <input type="hidden" th:field="*{dateTime}" id="dateTime">
            </label>
        </p>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>

</main>

<footer th:insert="~{fragment/fragment.html :: footer}"> </footer>
</body>
</html>
